body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 300px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
button.operator {
    background-color: #ff9800; 
}

button.number {
    background-color: #4caf50; 
}

button.equal {
    background-color: #2196f3; 
}

button.clear {
    background-color: #f44336; 
}

button:hover {
    opacity: 0.8;
}
button.song{
    background-color: rgb(82, 33, 82);
}
button.thumb{
    background-color: #8CCAF9;
}
button:active {
    opacity: 0.6;
}

input[type="text"] {
    grid-column: span 4;
    font-size: 24px;
    padding: 10px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

